.container{
    height: 20em; 
    width: 76em; 
    border: solid 1px black; 
    display: flex;
}

.wit1, .wit2, .wit3, .wit4, .wit5, .wit6, .wit7, .wit8, .wit9, .wit10 {
    display: flex;
    align-items: stretch; 
    width: 10em;
    margin-left: 1em;  
}

.wit:active{
    background-color: pink; 
}

.zwart1, .zwart2, .zwart3, .zwart4, .zwart5, .zwart6, .zwart7 {
    display:flex; 
    position: absolute; 
    background-color: black; 
    height: 19em;
    width: 5em; 
    margin-left: 8em; 
}

.zwart2 {
    margin-left: 19em; 
}

.zwart3 {
    margin-left: 41em;
}

.zwart4 {
    margin-left: 52em; 
}

.zwart5 {
    margin-left: 63em; 
}

.zwart6 {
    margin-left: 85em;
}

.zwart7 {
    margin-left: 96em; 
}

audio{
    display: none; 
}